<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href="app.css">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/app.js"></script>

    <title>GW Switch</title>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1 th:text="'Ваш ip: ' + ${ip}">Ваш ip:</h1>
            <div id="gateways" class="btn-group" role="group">
                <button id="default-gw" type="button" class="btn btn-outline-primary">default</button>
                <button th:each="gw : ${gateways}" th:id="${gw.id}" th:text="${gw.name}" type="button" class="gw btn btn-outline-primary">gw</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>